
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    <div id='h1'>
       <h1 class='titulo'>Formulario</h1> 
    </div>
    
    
    
    <section>
       <table id='ContenedorImgNombre'>
        
        <h2>José Galindez</h2>
        <h2>Cedula: 30.016.640</h2>
        <h2>Sección: 1</h2>
       </table>
       <a href='/login' id='botonProductos'>Init</a>
    </section>

    </div>


   <%- include('footer') -%>
  
</body>

</html>